%h1 Edit post
%form#edit-post{:name => "post"}
  .field
    %label{:for => "title"} Title:
    %input#title{:name => "title", :type => "text", :value => "{{ title }}"}
  .field
    %label{:for => "content"} Content:
    %input#content{:name => "content", :type => "text", :value => "{{ content }}"}
  .actions
    %input{:type => "submit", :value => "Update Post"}/
%a{:class => "show", :href => "posts/{{ id }}"} Show
%a{:class => "index", :href => "posts"} Back