.box
  #clearStorage.btn.btn-danger Clear LocalStorage
  #clearObjects.btn.btn-warning Clear Test Data
  %br/
  %br/
  %p
    Storage Used:
    %span.label.label-success#localStorageSize 0%
  %p
    FAYE Server Address:
    %span.label#fayeServer
  %p
    FAYE Client Status:
    %span.label#fayeStatus UNKNOWN