.box
  %form
    .buttons
      .run.btn.btn-primary Run Suite
      #stop.btn{:disabled => true} Stop Suite
      #clear.btn Clear Chart
      #seed.btn Seed Chart
    .logcontainer
      .fadetop
      .faderight
      .fadebottom
      %a.log{:'data-toggle' => 'modal', :href => "##{tab}_logModal"}

    .modal.hide.fade{:id => "#{tab}_logModal"}
      .modal-header
        %button.close{:'data-dismiss' => 'modal'} x
        %h3 Logging
      .modal-body
      .modal-footer
        %a.btn{:href => '#', :'data-dismiss' => 'modal'} Close  

  .well
    %div{:id => "#{tab}_chartContainer"}