.box
  %form
    .buttons
      .btn-group
        #stop.btn{:disabled => true} Stop Suite
        #clear.btn Clear Chart
        #seed.btn Seed Chart
    .buttons
      .btn-group
        .btn.btn-primary.run Run Suite
        .btn.btn-primary.dropdown-toggle{:'data-toggle' => 'dropdown'}
          .caret
        %ul.dropdown-menu
          %li
            %a#data{href: '#'}
              %i.icon-
              Raw Data
          %li
            %a#mean{href: '#'}
              %i.icon-
              Running Mean
          %li
            %a#median{href: '#'}
              %i.icon-
              Running Median
          %li
            %a#results{href: '#'}
              %i.icon-ok
              Final Results
    .logcontainer
      .fadetop
      .faderight
      .fadebottom
      %a.log{:'data-toggle' => 'modal', :href => "##{tab}_logModal"}

    .modal.hide.fade{:id => "#{tab}_logModal"}
      .modal-header
        %button.close{:'data-dismiss' => 'modal'} x
        %h3 Logging
      .modal-body
      .modal-footer
        %a.btn{:href => '#', :'data-dismiss' => 'modal'} Close

  .well
    %div{:id => "#{tab}_chartContainer"}