.tabbable.tabs-below
  %ul.nav.nav-tabs
    %li
      %a{:href => '#tab1', :'data-toggle' => 'tab'}
        Network Performance
    %li
      %a{:href => '#tab2', :'data-toggle' => 'tab'}
        Client Performance
    %li
      %a{:href => '#tab3', :'data-toggle' => 'tab'}
        Memory Footprint
    %li.active
      %a{:href => '#tab4', :'data-toggle' => 'tab'}
        Conflict Resolution

  .tab-content
    #tab1.tab-pane
      .box
        %form
          #buttons
            #run.btn.btn-primary Run Suite
            #stop.btn.btn-primary{:disabled => true} Stop Suite
        .well
          #tab1_chartContainer

    #tab2.tab-pane
      .box
        %form
          #buttons
            #run.btn.btn-primary Run Suite
            #stop.btn.btn-primary{:disabled => true} Stop Suite
        .well
          #tab2_chartContainer

    #tab3.tab-pane
      .box
        %form
          #buttons
            #run.btn.btn-primary Run Suite
            #stop.btn.btn-primary{:disabled => true} Stop Suite
        .well
          #tab3_chartContainer

    #tab4.tab-pane.active
      .container
        .row
          .span12
            .box
              %form
                #buttons
                  #run.btn.btn-primary Run Suite
                  #stop.btn.btn-primary{:disabled => true} Stop Suite
              .well
                #tab4_chartContainer
        .row
          #attr.span6
            %h1
              %small Attribute Resolution
          #seri.span6
            %h1
              %small Serialized Object

:coffeescript
  # record active tab in localStorage
  $('.nav-tabs a').click ->
    localStorage.current = $(@).attr('href')
  # set active tab from localStorage
  $ ->
    $("a[href='\#{localStorage.current}']").click()

= javascript_include_tag 'benchmarking/benches'