.navbar

.container-fluid
  .row-fluid
    .well
      #barChart
  .row-fluid
    .well
      #preSyncCreate.btn.btn-primary Run PreSync
      #syncCreate.btn.btn-primary Run Sync
      
= javascript_include_tag "benchmarking/benches"