<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="This is just a test document for Benchmark.js.">
		<title>Benchmark.js test page | jsPerf</title>
		<!-- http://jsperf.com/benchmark-js-test-page -->
		<%= stylesheet_link_tag "benchmarking/bestiejs", :media => "all" %>
		<script>document.documentElement.className = 'js'</script>
		<!--[if lt IE 9]><script src="https://raw.github.com/bestiejs/html5.js/master/html5.js"></script><![endif]-->
	</head>
	<body>
	  <%= yield %>
	</body>
</html>